<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Coresea wait-list registration</title>
    <link rel="shortcut icon" href="{% static 'images/coresea.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="body">
        <header>
            <div class="header_div">
                <div class="img_container">
                    <img src="{% static 'images/CAYC.jpg' %}" alt="">
                </div>
            </div>
        </header>

        <main>
            <div class="cayc">
                <h2>Register for CAYC Whitelist mint</h2>
            </div>
            <form action="" method="post">
                <div class="fieldwrap">
                    <div class="formfields">
                        
                        {% for field in form %}
                            
                            {% if field.name == 'twitter' %}

                                <a href="https://twitter.com/CoreSeaFi" target="_blank" id="meta">{{field.label}}</a>
                                <p id="helptext">{{field.help_text}}</p>
                                <p class="fields">{{field}}</p>

                            {% elif field.name == 'discord' %}
                                <a href="https://discord.com/invite/wpEZgTASXJ" target="_blank" id="meta">{{field.label}}</a>
                                <p id="helptext">{{field.help_text}}</p>
                                <p class="fields">{{field}}</p>
                            {%  else %}
                                <label for="form.auto_id" id="meta">{{field.label_tag}}</label>
                                <p id="helptext">{{field.help_text}}</p>
                                <p class="fields">{{field}}</p>
                            
                            {% endif %}
                             
                            
                        {% endfor %}
                        

                           <p>Telegram: <a href="https://t.me/CoreSeaFi">https://t.me/CoreSeaFi</a> </p> 
                           <p>Telegram2: <a href="https://t.me/CoreSeaFi_chinese">https://t.me/CoreSeaFi_chinese</a></p>
                           <p>Website : <a href="https://coresea.xyx/">https://coresea.xyx/</a></p>
                    </div>
                    {% csrf_token %}
                    <div class="btn_div">
                        <input type="submit" value="submit" id="submit_btn">
                    </div>
                </div>
                
                
            </form>
        </main>
    </div>
</body>
</html>