html{
    width: 37rem;
    margin: auto;
   
}
body{
    background-color: #040d16;
    margin: auto;
    width: 31.3rem;
    padding-top: 0px;
    

}
a{
    color: rgb(90, 148, 255);
    text-decoration: none;
}

#meta, .field{

    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    border-radius: 7px;
}
.body{
    --darkshadow-color:#010f1d ;
    color: white;
    
    background-color: var(--darkshadow-color);
    padding: 0px;
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    border-radius: 15px;
}
.fieldwrap{
    width: 120vh;
    padding: 0.8rem;

}
.field{
    height: 2rem;
    width: 21rem;
}
/* .formfields{
    position: relative;
    margin: auto;
    width: 320px;
} */
#helptext{
    font-size:12px;
    width: 300px;
    font-family:Geneva, sans-serif;
    }
.header_div{
    width: 400px;
    margin: 0;
    padding: 0;
}
.img_container{
    width: 25rem;
    position: relative;
    margin: 0;
    padding: 0;
    

}
img{
    width: 25rem;
    position: relative;
    /* margin: auto; */
    /* margin-left: -20px; */
    /* margin-top: -20px; */
    padding: 0;
    border-radius: 14px;
     
}

.cayc{
    padding: 1rem;
    padding-bottom: 0.2rem;
}

.btn_div{
    position: relative;
    
    width: 180px;
}
.checks{
    width: 18px;
    background-color: rgb(90, 148, 255);
    border-color: #e6ecf0;
}

#submit_btn{
    background-color: rgb(90, 148, 255);
    position:relative;
    color: #e6ecf0;
    border-radius: 15px;
    border-color: #e6ecf0;
    box-shadow: 1px 1px 7px var(--darkshadow);
    width: 130px;
    height: 35px;
    
}

#submit_btn:hover{
    background-color:var(--darkshadow);
    border-radius: 20px;
    color:rgb(255, 255, 255);
    transition: color 100ms ease-out;
}
#submit_btn:active{
    color: rgb(15, 25, 43);
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width:485px){
    html{
        width: 30rem;
        margin: auto;
    }
    body{
        width: 28.125rem;
    }    
    .body{
        width: 24.25rem;
    }
   
    img{
        width: 24.125rem;
        margin-left: 0px;
    }
    .field{
        height: 1.5rem;
        width: 17rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
    #meta{
        font-size: medium;
        font-family: 'Verdana';
    }
    #helptext{
        font-size: 9px;
        width: 300px;
        font-family:Tahoma, sans-serif;
    }
}
    